.title {
    font-size: 40px;
    text-decoration: underline;
}

#game-board {
    width: 1200px;
    height: 700px;
    background-color: blue;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template: repeat(7, 100px) / repeat(12, 100px);
}

#hero {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 0 auto;
    position: absolute;
}

.treasure {
    width: 100px;
    height: 100px;
    align-self: center;
    justify-self: center;
    background-size: contain;
    animation: pulse 3s infinite;
}

#main {
    background-image: url('../assets/main-jewel.gif');
}

#secret {
    background-image: url('../assets/secret-jewel.gif');
}

.wall {
    background-image: url('../assets/wall.jpeg');
    background-size: contain;
}

.fake-wall {
    background-color: darkgray;
}

.hazard {
    background-image: url('../assets/fire.gif');
    background-size: contain;
}

@keyframes pulse {
    0% {
        transform: scale(.75, .75)
    }
    50% {
        transform: scale(1, 1)
    }
    100% {
        transform: scale(.75, .75)
    }
}